body{
    background-image: url("resources/purple1.jpg");
    ;
}
.top{
    width: 100%;
}
.top_left{
    color: white;
    text-align: left;
    display: flex;
    word-spacing: 40px;
    padding-bottom: 00001px;


}

.top_right{
    color: white;
    text-align: right;
    word-spacing: 06px;
    text-decoration: none;
    padding-top: 05px;
    padding-right: 20px;
    height: 10vh;
    width: 50%;
}


#email {
    width: 30%;
    padding: 10px;
    border-bottom: 2px solid red;
    border-left: none;
    border-right: none;
    border-top: none;
}
#Name{
    width: 30%;
    padding: 10px;
    border-bottom: 2px solid red;
    bottom: 10px;
    border-left: none;
    border-right: none;
    border-top: none;

}

#message{
    width: 30%;
    padding: 10px;
    border-bottom: 2px solid red;
    border-left: unset;
    border-right: unset;
    border-top: unset;
}


.middle1{
    color: white;
    justify-content: space-between;
    text-align: center;
    font-size: 30px;
    font-family: "Book Antiqua";
    height: 05vh;
}

.middle{
    color: white;
    text-align: center;
    width: 100%;
    height: 05vh;
}

.mid_mid{
    text-align: center;
    border-left: unset;
    border-right: unset;
    border-top: unset;
}

.bottom{
    color: white;
    background-color: dodgerblue;
    text-align: center;
    padding: 15px;
    width: 08%;
    height: 03vh;
    justify-content: center;
}

.bottom1{
    text-align: center;
}

.y{
    height: 20vh;
    width: 10px;
}


.a{
    border: none;
    color: white;
    text-decoration: none;
    width: 50%;
    height: 10vh;
    text-align: right;
    padding-right: 20px;
}

.b{
    border: 2px solid white;
    color: white;
    padding: 10px;
    height: 02vh;
    width: 50%;
    text-decoration: none;
    height: 10vh;
    text-align: right;

}

.n{
    text-decoration: none;
    color: white;

}

.p{
    text-decoration: none;
    color: white;
}

.g{
    text-decoration: none;
    color: white;
}

.mid1{
    text-align: center;
    border-left: none;
    border-right: none;
    border-top: none;
}
